<h1>Create a Profile</h1>

<%= form_with model: @profile do |f|%>

  <%= f.label :username%>
  <%= f.text_field :username%>

  <%= f.label :bio%>
  <%= f.text_field :bio%>

  <%= f.label :first_name%>
  <%= f.text_field :firstname%>

  <%= f.label :last_name%>
  <%= f.text_field :lastname%>

  <%= f.label :profile_picture%>
  <%= f.file_field :image%>



  <%= f.submit %>
<%end%>
