
<% @articles.each do |a| %>
  <h3><%= a.title %></h3>
  <p><%= a.body %></p>
  <%= image_tag a.image if a.image.attached? %>
  <br>
  Published by <%= a.profile.username %> 
  <%= link_to "Show Profile", profile_path(a.profile) %>
  <br>
  
  <%= button_to "Like", profile_article_likes_path(a.profile, a), method: :post %>
  <i class="fa-regular fa-thumbs-up"></i>
  <%= a.likes_count %>
<% end %>

