
<br>
<ul>
  <% @articles.each do |a|%>
    <h3><%= a.title%></h3>
    <p><%= a.body%></p>
    <%= image_tag a.image%>
    <br>
    <%="published by #{a.profile.username}"%> <%= link_to "show", profile_path(a.profile)%>
    <br>
    <%=link_to "Like", "#"%><i class="fa-regular fa-thumbs-up"></i>
    <%= a.likes_count%>
</ul>
<%end%>

