<h1>Write an Article</h1>

<%= form_with(model: [@profile, @article], local: true) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>


  <%= f.label :topic_id, "Topic" %>
  <%= f.collection_select :topic_id, @topics, :id, :title, prompt: "Select a Category" %>

  <%= f.label :body %>
  <%= f.text_area :body %>

  <%= f.label :image %>
  <%= f.file_field :image %>

  <%# <%= f.collection_select :DIFFICULTY%> 
  <%= f.label :difficulty%>
  <%= f.select :difficulty, Article::DIFFICULTY.map { |type| [type.titleize, type] }%>


  <%= f.submit %>
<% end %>