<br>
<h1><%=@article.title%></h1>
<p><%=@article.body%></p>
<% if @article.image.persisted?%>
  <%= image_tag @article.image%>
<%else%>
  <p>No image</p>
<%end%>

<% if current_user.profile == @article.profile%>
  <%= link_to "Update Article", edit_profile_article_path(@profile, @article)%>
  <%= button_to "Delete Article", profile_article_path(@profile, @article), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-primary"%>
<%else%>
  <p></p>
<%end%>
